POSTGRES_VERSION=17
POSTGRES_DB=sea_battle
POSTGRES_USER=sea_battle
POSTGRES_PASSWORD=sea_battle
POSTGRES_PORT=5432
API_PORT=8000

DATABASE_URL=postgresql+psycopg://sea_battle:sea_battle@localhost:5432/sea_battle
